@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*
{
    margin: 0;
    padding: 0;
    /* background: linear-gradient(231deg, #06069a 0%, rgba(92, 51, 216, 0.87) 49.13%, rgba(107, 116, 239, 0.63) 100%); */
    background:#110649;
    font-family:'Josefin Sans', sans-serif;
}
#home
{
    width:100%;
    height: 599px;
}
.img
{
    margin-top: 102px;
    width:100%;
    background-position: cover;
}
#home .head
{
    width: 1096px;
    height: 102px;
    flex-shrink: 0;
    
}
i {
    margin-right: 10px;
  }
  #text {
    font-size: 7.6vw;
    height: 82px;
    margin-top: 50px;
    color: rgb(183, 194, 198);
    transform: translateY(180%);
    position: absolute;
    margin-left: 10%;
    background: rgb(17, 6, 73);
    text-shadow: rgba(18, 17, 17, 0.3) 10px 10px 10px;
  } /* ---------horizontal-navbar-menu-----------*/
  /* styles.css */

body {
  margin: 0;
  padding: 0;
}
/* Header styling */
header {
  position: sticky;
  top:0;
  z-index: 1000;
  background-color: rgb(17, 6, 73);
}

/* Navigation menu styling */
#navbar-animmenu {
  overflow: hidden;
    padding: 0px 0px;
    background: transparent;
    border-radius: 32px;
    width: 80%;
    max-width: 1042px;
    margin: 0px auto;
}

#navbar-animmenu ul {
  padding: 0px;
    margin: 0px;
    border-radius: 32px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    align-items: center;
}

#navbar-animmenu ul li {
  list-style-type: none;
  background: linear-gradient(180deg, rgba(51, 45, 75, 0.00) 100%);
}

#navbar-animmenu ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 20px; /* Reduce font size */
  line-height: 30px; /* Adjust line height */
  padding: -9px 15px; /* Adjust padding */
  transition: color 0.6s, transform 0.5s;
  position: relative;
}


#navbar-animmenu a:not(:only-child):after {
  content: "\f105";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: transform 0.5s;
}

#navbar-animmenu .active > a:not(:only-child):after {
  transform: rotate(90deg);
}

#navbar-animmenu ul li a:hover {
  color: rgb(7, 71, 123);
}
.btn-container {
  text-align: center;
  margin-top: 20px; /* Adjust margin as needed */
  display: flex;
  justify-content: center; /* Center items horizontally */
  position: relative; /* Add relative positioning */
}
.signup-btn {
  margin-left: 10px; /* Add some spacing between buttons */
}
.login-signup-btn {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #5D1FAB;
  color: #ffffff;
}

.login-signup-btn:hover {
  background-color: #7f3bac;
}
.btn {
  border-radius: 36px;
  background-color: #5D1FAB;
  width: 117px;
  height: 33px;
  flex-shrink: 0;
  position: absolute; /* Use absolute positioning */
  left: 50%; /* Move to the horizontal center */
  transform: translateX(-50%); /* Adjust for centering */
}
/* Parallax section styling */
.parallax {
  width: 100%;
  margin-top: 55px;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: auto 80%;
  background-image: url(Images/home/Group\ 40.png);
}

#listeners
{
    width: 793px;
    height: 512px;
    flex-shrink: 0;
    
}
.parallax-container {
  perspective: 1000px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

 
#text1 {   
  font-size: 3.6vw;
    height: 48px;
    margin-top: -696px;
    color: rgb(183, 194, 198);
    transform: translateY(180%);
    position: absolute;
    margin-left: 3%;
    background: rgb(17, 6, 73);
    text-shadow: rgba(18, 17, 17, 0.3) 10px 10px 10px;
}
#text2 {
  font-size: 3.6vw;
  height: 82px;
  margin-top: -697px;
  color: rgb(183, 194, 198);
  transform: translateY(180%);
  position: absolute;
  margin-left: 3%;
  background: radial-gradient(circle, #EDE76A, #C4664C, #cbd953, #0827b2);
  text-shadow: rgba(18, 17, 17, 0.3) 10px 10px 10px;
  /* Set the background gradient to be visible only on the text, not the whole element */
  background-clip: text;
  -webkit-background-clip: text; /* For compatibility with some browsers */
  color: transparent; /* Make the text transparent to reveal the gradient */
}

.center-container {
  text-align: center;
}
.img2 {
  width: 50%;
  height: auto; /* Maintain aspect ratio */
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: -30px;
}

:root{
  /* color type A */
  --line_color : #A2AEE6 ;
  --back_color : #D5EFC8  ;

  /* color type B */
  /* --line_color : #1b1919 ;
  --back_color : #E9ECFF  ; */

  /* color type C */
  /* --line_color : #00135C ;
  --back_color : #DEFFFA  ; */
}

.button{
  position : relative ;
  z-index : 1 ;
  width : 240px ;
  height : 56px ;
  text-decoration : none ;
  font-size : 14px ; 
  font-weight : bold ;
  color : var(--line_color) ;
  letter-spacing : 2px ;
  transition : all .3s ease ;
}
.button__text{
  display : flex ;
  justify-content : center ;
  align-items : center ;
  width : 100% ;
  height : 100% ;
}
.button::before,
.button::after,
.button__text::before,
.button__text::after{
  content : '' ;
  position : absolute ;
  height : 3px ;
  border-radius : 2px ;
  background : var(--line_color) ;
  transition : all .5s ease ;
}
.button::before{
  top : 0 ;
  left : 54px ;
  width : calc( 100% - 56px * 2 - 16px ) ;
}
.button::after{
  top : 0 ;
  right : 54px ;
  width : 8px ;
}
.button__text::before{
  bottom : 0 ;
  right : 54px ;
  width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__text::after{
  bottom : 0 ;
  left : 54px ;
  width : 8px ;
}
.button__line{
  position : absolute ;
  top : 0 ;
  width : 56px ;
  height : 100% ;
  overflow : hidden ;
}
.button__line::before{
  content : '' ;
  position : absolute ;
  top : 0 ;
  width : 150% ;
  height : 100% ;
  box-sizing : border-box ;
  border-radius : 300px ;
  border : solid 3px var(--line_color) ;
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before{
  left : 0 ;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before{
  right : 0 ;
}
.button:hover{
  letter-spacing : 6px ;
}
.button:hover::before,
.button:hover .button__text::before{
  width : 8px ;
}
.button:hover::after,
.button:hover .button__text::after{
  width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__drow1,
.button__drow2{
  position : absolute ;
  z-index : -1 ;
  border-radius : 16px ;
  transform-origin : 16px 16px ;
}
.button__drow1{
  top : -16px ;
  left : 40px ;
  width : 32px ;
  height : 0;
  transform : rotate( 30deg ) ;
}
.button__drow2{
  top : 44px ;
  left : 77px ;
  width : 32px ;
  height : 0 ;
  transform : rotate(-127deg ) ;
}
.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after{
  content : '' ;
  position : absolute ;
}
.button__drow1::before{
  bottom : 0 ;
  left : 0 ;
  width : 0 ;
  height : 32px ;
  border-radius : 16px ;
  transform-origin : 16px 16px ;
  transform : rotate( -60deg ) ;
}
.button__drow1::after{
  top : -10px ;
  left : 45px ;
  width : 0 ;
  height : 32px ;
  border-radius : 16px ;
  transform-origin : 16px 16px ;
  transform : rotate( 69deg ) ;
}
.button__drow2::before{
  bottom : 0 ;
  left : 0 ;
  width : 0 ;
  height : 32px ;
  border-radius : 16px ;
  transform-origin : 16px 16px ;
  transform : rotate( -146deg ) ;
}
.button__drow2::after{
  bottom : 26px ;
  left : -40px ;
  width : 0 ;
  height : 32px ;
  border-radius : 16px ;
  transform-origin : 16px 16px ;
  transform : rotate( -262deg ) ;
}
.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after{
  background : var( --back_color ) ;
}
.button:hover .button__drow1{
  animation : drow1 ease-in .06s ;
  animation-fill-mode : forwards ;
}
.button:hover .button__drow1::before{
  animation : drow2 linear .08s .06s ;
  animation-fill-mode : forwards ;
}
.button:hover .button__drow1::after{
  animation : drow3 linear .03s .14s ;
  animation-fill-mode : forwards ;
}
.button:hover .button__drow2{
  animation : drow4 linear .06s .2s ;
  animation-fill-mode : forwards ;
}
.button:hover .button__drow2::before{
  animation : drow3 linear .03s .26s ;
  animation-fill-mode : forwards ;
}
.button:hover .button__drow2::after{
  animation : drow5 linear .06s .32s ;
  animation-fill-mode : forwards ;
}
@keyframes drow1{
  0%   { height : 0 ; }
  100% { height : 100px ; }
}
@keyframes drow2{
  0%   { width : 0 ; opacity : 0 ;}
  10%  { opacity : 0 ;}
  11%  { opacity : 1 ;}
  100% { width : 120px ; }
}
@keyframes drow3{
  0%   { width : 0 ; }
  100% { width : 80px ; }
}
@keyframes drow4{
  0%   { height : 0 ; }
  100% { height : 120px ; }
}
@keyframes drow5{
  0%   { width : 0 ; }
  100% { width : 124px ; }
}

.container{
  width : 100% ;
  height : 114px ;
  display : flex ;
  flex-direction : column ;
  justify-content : center ;
  align-items : center ;
}

#community{
	min-height: 100vh;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: "Martel Sans", sans-serif;
    display: flex;
    align-items: center;
    min-height: 76px;
    background: transparent;
    margin-top: 359px;
    margin-left: 160px;
    margin-bottom: 50px;
}


h1 {
	font-size: 5.25vmin;
	text-align: center;
	color: white;
  background: transparent;
}
p {
	font-size: max(10pt, 2.5vmin);
	line-height: 1.4;
	color: #0e390e;
	margin-bottom: 1.5rem;
  background: transparent;
}

.wrap {
	
  margin-right: 100px;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 65vmin;
	height: 20em;
	margin: 2rem auto;
	border: 2px solid black;
	background: transparent;
	transition: 0.3s ease-in-out;
	position: relative;
	overflow: hidden;
}
.overlay {
	position: static;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 1rem 0.75rem;
	background: transparent;
	transition: 0.4s ease-in-out;
	z-index: 1;
}
.overlay-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 15vmin;
	height: 100%;
	padding: 0.5rem 0 0 0.5rem;
	
	background: transparent;
	transition: 0.3s ease-in-out 0.2s;
	z-index: 1;
}
.image-content {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-size: cover;
	transition: 0.3s ease-in-out;
  
	/* border: 1px solid green; */
}

.inset {
	max-width: 100%;
	margin-top: -20px;
  margin-right: 0px;
	border-radius: 1em;
	float: left;
  background: transparent;
}

.dots {
	position: absolute;
	bottom: 1rem;
	right: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 55px;
	height: 4vmin;
	transition: 0.3s ease-in-out 0.3s;
  background: transparent;
}
.dot {
	width: 14px;
	height: 14px;
	background: transparent;
	border: 0px ;
	border-radius: 50%;
	transition: 0.3s ease-in-out 0.3s;
}

.text {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	padding: 3vmin 4vmin;
	background: transparent;
	box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / 0.4);
	overflow-y: scroll;
}

.wrap:hover .overlay {
	transform: translateX(-60vmin);
}
.wrap:hover .image-content {
	width: 30vmin;
}
.wrap:hover .overlay-content {
	border: none;
	transition-delay: 0.2s;
	transform: translateX(60vmin);
}
.wrap:hover .dots {
	transform: translateX(1rem);
}
.wrap:hover .dots .dot {
	background: white;
}
.sec{
  background: transparent;

}
.second{
  background: transparent;
}
/* Animations and timing delays */
.animate {
  background: transparent; 
  margin-right: 52px;
	animation-duration: 0.7s;
	animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
	animation-fill-mode: backwards;
}
/* Pop In */
.pop {
  
	animation-name: pop;
}
@keyframes pop {
	0% {
		opacity: 0;
		transform: scale(0.5, 0.5);
	}
	100% {
		opacity: 1;
		transform: scale(1, 1);
	}
}

/* Slide In */
.slide {
	animation-name: slide;
}
@keyframes slide {
	0% {
		opacity: 0;
		transform: translate(4em, 0);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

/* Slide Left */
.slide-left {
	animation-name: slide-left;
}
@keyframes slide-left {
	0% {
		opacity: 0;
		transform: translate(-40px, 0);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.slide-up {
	animation-name: slide-up;
}
@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(3em);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.delay-1 {
	animation-delay: 0.3s;
}
.delay-2 {
	animation-delay: 0.6s;
}
.delay-3 {
	animation-delay: 0.9s;
}
.delay-4 {
	animation-delay: 1.2s;
}
.delay-5 {
	animation-delay: 1.5s;
}
.delay-6 {
	animation-delay: 1.8s;
}
.delay-7 {
	animation-delay: 2.1s;
}
.delay-8 {
	animation-delay: 2.4s;
}
/* #tutorials */
.slide-container{
  max-width: 1120px;
  width: 100%;
  background-color: #2e292c;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px ;
}
.card{
  
  border-radius: 25px;
  background-color: #5e0978;
}
.video-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.video-content{
  row-gap: 5px;
  position: relative;
 padding: 25px 0;
}
.overlay{
  position: absolute;
  left:0;
  top:0;
  height: 100%;
  width: 100%;
  background-color:#8048db ;
  border-radius: 10px;
}
.overlay::before,
.overlay::after{
  position: absolute;
  right: 0;
  bottom: -40px;
  content: '';
  height: 40px;
  width: 40px;
  background-color: #c88fda;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #c88fda;
}
.video{
  position: relative;
  height: 150px;
  width: 250px;
  border-radius: 5px;
  background: #fff;
  padding: 3px;
}
.video .card-video{
  height: 150px;
  width: 250px;
  object-fit: cover;
  border-radius: 5px;
  border: 4px solid #8048db;
}
.name{
  font-size: 18px;
  font-weight: 500px;
  color: black;

}
.description{
  font-size: 14px;
  color: black;
  text-align: center;
}
/*about us*/
#aboutus
{
  background: transparent;
  margin-bottom:231px;
  text-align:center;
}
.gallery {
  --d: 10s;
  /* duration */
  display: grid;
  width: 220px;
  margin-left: 260px;
  margin-top: 200px;
}

.gallery > img {
  grid-area: 1/1;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border: 10px solid #f2f2f2;
  box-shadow: 0 0 4px #0007;
  z-index: 2;
  animation: slide var(--d) infinite, z-order var(--d) infinite steps(1);
}

.gallery img:last-child {
  animation-name: slide, z-order-last;
}

.gallery > img:nth-child(1) {
  animation-delay: calc(0*var(--d));
  --r: 8deg;
}

.gallery > img:nth-child(2) {
  animation-delay: calc(-0.2*var(--d));
  --r: 2deg;
}

.gallery > img:nth-child(3) {
  animation-delay: calc(-0.4*var(--d));
  --r: 20deg;
}

.gallery > img:nth-child(4) {
  animation-delay: calc(-0.6*var(--d));
  --r: 3deg;
}

.gallery > img:nth-child(5) {
  animation-delay: calc(-0.8*var(--d));
  --r: 3deg;
}

@keyframes slide {
  10% {
    transform: translateX(120%) rotate(var(--r));
  }
  0%, 100%, 20% {
    transform: translateX(0%) rotate(var(--r));
  }
}
@keyframes z-order {
  10%, 20% {
    z-index: 1;
  }
  80% {
    z-index: 2;
  }
}
@keyframes z-order-last {
  10%, 20% {
    z-index: 1;
  }
  90% {
    z-index: 2;
  }
}
.para ul{
  margin-left: 820px;
  margin-right: 200px;
  margin-top: -250px;
  font-size: 25px;
  font-family:'Josefin Sans', sans-serif;
  color: rgb(183, 194, 198);
  text-align: center;
  font-weight: 5000;
  line-height: 1;
  letter-spacing: 1px;
  margin-bottom: 50px;
  background: transparent;
  width:400px
}

.waviy {
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}
#ourteam {
  margin: 0;
  min-height: 85vh;
  justify-content: center;
  align-items: center;
  background:transparent;
  /* margin-left: 450px; */
}

.waviy2 {
  position: relative;
  margin-top: 50px;
  margin-left: 450px;
}
.waviy2 span {
  position: center;
  display: inline-block;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; /* Add this line to vertically align items */
  width: 80%;
  max-width: 1198px;
  margin-left: 100px;
  margin: 0 auto;
  background: transparent;
  height: 30%;
  margin-top:250px;
}

.profile {
  position: relative;
  transition: all 0.3s;
  background: transparent;
  
}
.profile img{
  width:800px;
  height:270px;
}

.profile:hover {
  transform: translateY(25px);
}

.profile img {
  max-width: 90%;
  border-radius: 50%;
  filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
  cursor: pointer;
}

.profile:not(:first-child) img {
  margin-left: -20px;
}

.profile .name {
  position: absolute;
  background-color: #b0b4f0;
  color: #fff;
  font-family: "Bebas Neue", cursive;
  padding: 15px 30px;
  border-radius: 100px;
  bottom: -80px;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50px);
  letter-spacing: 1px;
  font-size: 20px;
  opacity: 0;
  transition: all 0.3s;
}

.profile .name::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #07000f;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.profile img:hover + .name {
  opacity: 1;
  transform: translateX(-50%);
  box-shadow: 0 10px 20px rgba(86, 86, 198, 0.3);
}

#contactus{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  background: transparent;
  
}
.form-container h3{
  font-size: 30px;
  background: transparent;
  font-family:'Abhaya Libre';
 margin-left: 483px;
 margin-top: -430px; 
}

.form-container{
 min-height: 100vh;
 display: flex;
 align-items: center;
 
 padding: 20px 40px 20px 60px;
 background: transparent;
}

.form-container form{

 border-radius: 10px;
 box-shadow: 0px 0px 10px 10px rgba(128, 36, 146, 0.281);
 background: #fff;
 text-align: center;
 width: 500px;
 height: 500px;
 margin-top: 200px;
 margin-left:-400px;
}


.form-container form input{
 width: 80%;
 padding:10px 15px;
 font-size: 17px;
 margin:8px 0;
 background: #eee;
 border-radius: 5px;
 margin-top: 40px;
}
.form-container form .form-bn{
 width: 400px;
 height: 110px;
 margin-left: 0px;
 margin-right: 0px;
}



button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 131px;
  border-radius: 39px;
  margin-right:12px;
  border: 2px solid rgb(2, 36, 62);
  background: rgb(116, 136, 174);
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}
button:hover {
  color:#6e82b0;
  background:rgb(3, 27, 75);
}
button:active {
  letter-spacing: 2px;
}
/* button:after {
  content: "SUBMIT";
} */
.onclic {
  width: 40px;
  border-color: gray;
  border-width: 3px;
  font-size: 0;
  border-left-color:transparent;
  animation: rotating 2s 0.25s linear infinite;
}
.onclic:after {
  content: "";
}
.onclic:hover {
  color: transparent;
  background: rgb(185, 11, 179);
}
.validate {
  font-size: 13px;
  color: rgba(184, 26, 189, 0.559);
  background: transparent;
}
.validate:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
 }
  to {
    transform: rotate(360deg);
 }
}
#tutorials
{
  background: transparent;
  margin-top: 100px;
  margin-left: 60px;
  margin-bottom: 100px;
}


.void {
	width: 100%;
	max-width: 1024px;
	margin: auto;
	position: relative;
	aspect-ratio: 1 / 1;
}
#tutorials ul:hover * {
	animation-play-state: paused;
}
#tutorials ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	aspect-ratio: 1 / 1;
	outline: 2px dotted magenta;
	z-index: 1;
}
#tutorials li {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	/* 	outline: 2px dashed cyan; */
	width: 100%;
	animation: rotateCW calc(var(--rotate-speed) * 1s) var(--easing) infinite;
}
.card {
	width: 27%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 16px 24px;
	gap: 8px;
	background: #ffffff;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0px 16px 32px rgba(0, 0, 0, 0.1);
	border-radius: 12px;
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #535062;
	animation: rotateCCW calc(var(--rotate-speed) * 1s) var(--easing) infinite;
}
a {
	text-decoration: none;
	color: unset;
}
.model-name {
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
	color: #3b2ed0;
	display: block;
}
svg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

li:nth-child(2),
li:nth-child(2) .card {
	animation-delay: calc((var(--rotate-speed) / var(--count)) * -1s);
}
li:nth-child(3),
li:nth-child(3) .card {
	animation-delay: calc((var(--rotate-speed) / var(--count)) * -2s);
}
li:nth-child(4),
li:nth-child(4) .card {
	animation-delay: calc((var(--rotate-speed) / var(--count)) * -3s);
}
li:nth-child(5),
li:nth-child(5) .card {
	animation-delay: calc((var(--rotate-speed) / var(--count)) * -4s);
}
li:nth-child(6),
li:nth-child(6) .card {
	animation-delay: calc((var(--rotate-speed) / var(--count)) * -5s);
}
li:nth-child(7),
li:nth-child(7) .card {
	animation-delay: calc((var(--rotate-speed) / var(--count)) * -6s);
}
li:nth-child(8),
li:nth-child(8) .card {
	animation-delay: calc((var(--rotate-speed) / var(--count)) * -7s);
}

@keyframes rotateCW {
	from {
		transform: translate3d(0px, -50%, -1px) rotate(-45deg);
	}
	to {
		transform: translate3d(0px, -50%, 0px) rotate(-315deg);
	}
}
@keyframes rotateCCW {
	from {
		transform: rotate(45deg);
	}
	to {
		transform: rotate(315deg);
	}
}
@keyframes pulseGlow {
	from {
		background-size: 60%;
	}
	to {
		background-size: 100%;
	}
}

.center-circle {
	position: absolute;
	width: 230px;
	aspect-ratio: 1 / 1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #ffffff;
	box-shadow: 0px 18px 36px -18px rgba(12, 5, 46, 0.3),
		0px 30px 60px -12px rgba(12, 5, 46, 0.25);
	border-radius: 50%;
}
.second-circle {
	position: absolute;
	width: 40%;
	aspect-ratio: 1 / 1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #f5f4fe;
	opacity: 0.5;
	box-shadow: 0px 18px 36px -18px rgba(12, 5, 46, 0.3),
		0px 30px 60px -12px rgba(12, 5, 46, 0.25);
	border-radius: 50%;
}
.last-circle {
	position: absolute;
	width: 66%;
	aspect-ratio: 1 / 1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #f5f4fe;
	opacity: 0.25;
	box-shadow: 0px 18px 36px -18px rgba(12, 5, 46, 0.3),
		0px 30px 60px -12px rgba(12, 5, 46, 0.25);
	border-radius: 50%;
}
/* .crop {
	webkit-mask-image: linear-gradient(
		90deg,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0) 50%,
		rgba(0, 0, 0, 1) 50%,
		rgba(0, 0, 0, 1)
	);
} */
.mask {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 50%;
	animation: pulseGlow 5s linear infinite alternate;
	background-position: 100% 50%;
	background-repeat: no-repeat;
	background-image: radial-gradient(
		100% 50% at 100% 50%,
		rgba(60, 26, 229, 0.25) 0%,
		rgba(60, 26, 229, 0.247904) 11.79%,
		rgba(59, 26, 229, 0.241896) 21.38%,
		rgba(58, 26, 229, 0.2324) 29.12%,
		rgba(57, 26, 229, 0.219837) 35.34%,
		rgba(55, 26, 229, 0.20463) 40.37%,
		rgba(53, 26, 229, 0.1872) 44.56%,
		rgba(51, 26, 229, 0.16797) 48.24%,
		rgba(48, 26, 229, 0.147363) 51.76%,
		rgba(46, 26, 229, 0.1258) 55.44%,
		rgba(44, 26, 229, 0.103704) 59.63%,
		rgba(41, 26, 229, 0.0814963) 64.66%,
		rgba(39, 26, 229, 0.0596) 70.88%,
		rgba(36, 26, 229, 0.038437) 78.62%,
		rgba(34, 26, 229, 0.0184296) 88.21%,
		rgba(32, 26, 229, 0) 100%
	);
}
.mask:after {
	content: "";
	position: absolute;
	width: 1px;
	height: 100%;
	right: 0;
	display: block;
	background-image: linear-gradient(
		180deg,
		rgba(60, 26, 229, 0) 0%,
		#3c1ae5 50%,
		rgba(60, 26, 229, 0) 100%
	);
}
