/* Responsive Styles */
@media (max-width: 768px) {
  #navbar-animmenu ul {
    flex-flow: column;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    display: none;
  }

  #navbar-animmenu ul.active {
    display: flex;
  }

  #navbar-animmenu ul li {
    width: 100%;
    text-align: center;
    line-height: 50px;
  }

  #navbar-animmenu ul li a {
    padding: 10px;
    line-height: 25px;
    font-size: 18px;
  }

  #navbar-animmenu .checkbtn {
    display: block;
  }

  #check:checked ~ ul {
    display: flex;
  }
}
/* Responsive Styles for Home Section */
#home {
  width: 100%;
  height: auto;
}

.img {
  margin-top: 10%;
  width: 100%;
  background-position: cover;
  height: auto;
}

#home .head {
  width: 90%;
  max-width: 1096px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

#text {
  font-size: 6vw;
  height: auto;
  background: transparent;
  color: rgb(183, 194, 198);
  transform: translateY(0);
  position: relative;
  
  text-shadow: rgba(18, 17, 17, 0.3) 2px 2px 2px;
}


/* Media Query for Responsive Styles */
@media (max-width: 768px) {
  #home .head {
      width: 90%;
      padding: 10px;
  }

  #text {
      font-size: 10vw;
  }
  
  .parallax {
    max-width: 80%;
  }
}
