.form-container_login {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 60px;
    background: rgb(238, 238, 238);
}


* {
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    text-decoration: none;
}
.form-container_login form {
    box-shadow: rgb(194, 148, 236) 0px 5px 10px;
    text-align: center;
    width: 500px;
    padding: 20px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
}

.form-container_login form input, .form-container_login form select {
    width: 100%;
    font-size: 20px;
    padding: 10px 15px;
    margin: 8px 0px;
    background: rgb(238, 238, 238);
    border-radius: 5px;
}
.form-container_login form h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: rgb(58, 35, 53);
}
.form-container_login form p {
    margin-top: 10px;
    color: rgb(58, 35, 53);
}
.form-container_login form p a {
    color: rgb(152, 60, 206);
}
.form-container_login form .form-btn_login {
    color: rgb(58, 35, 53);
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    background: rgb(185, 126, 219);
}

.form-container_login form input, .form-container_login form select {
    width: 100%;
    font-size: 20px;
    padding: 10px 15px;
    margin: 8px 0px;
    background: rgb(238, 238, 238);
    border-radius: 5px;
}

